@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face 
{
    font-family: "Dumbledor";
    src: url("../public/Dumbledor.ttf");
}

@media (min-width: 1024px) 
{
    ::-webkit-scrollbar
    {
        position: absolute;
        top: -12px;
        width: 12px;
    }    

    ::-webkit-scrollbar-track
    {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: #64636c;
        background-clip: content-box;
        border-radius: 12px;
        border: 6px transparent solid;
    }
}